<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.board.dao.BoardMapper">
	<select id="board_list" parameterType="BoardDto" resultType="Map">
		SELECT board_num, board_title, DATE_FORMAT(board_date, '%Y-%m-%d') as board_date, reg_id, board_read_cnt
			FROM board 
			WHERE BOARD_DEL = 'N' 
			<if test="board_title != null">
				AND board_title LIKE CONCAT('%', #{board_title}, '%')
			</if>
			ORDER BY board_num DESC
		
	  		LIMIT #{start, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
	</select>
	
	<select id="board_cnt" parameterType="BoardDto" resultType="int">
		SELECT COUNT(board_num)
			FROM board 
			WHERE BOARD_DEL = 'N'
			<if test="board_title != null">
				AND board_title LIKE CONCAT('%', #{board_title}, '%')
			</if>
	</select>
	
	<insert id="board_insert" parameterType="BoardDto">
		INSERT INTO board (BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, REG_ID) 
		values (#{board_title}, #{board_content}, DATE_FORMAT(sysdate(),'%Y-%m-%d %H:%i:%s'), #{reg_id})
	</insert>
	
	<select id="boardDetail" parameterType="int" resultType="BoardDto">
		SELECT board_num, board_title, board_content, reg_id, DATE_FORMAT(BOARD_DATE, '%Y-%m-%d') as board_date, board_read_cnt 
			FROM board 
			WHERE BOARD_NUM = #{board_num}
	</select>
	
	<update id="board_delete" parameterType="int">
		UPDATE board SET 
			BOARD_DEL = 'Y'
			WHERE BOARD_NUM = #{board_num} 
	</update>
	
	<update id="boardReadCnt" parameterType="int">
		UPDATE board SET 
			BOARD_READ_CNT = BOARD_READ_CNT + 1 
			WHERE BOARD_NUM = #{board_num}
	</update>
</mapper>