<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.main.dao.MainMapper">

  <select id="menuList" resultType="com.example.demo.main.dto.MainDto">
    SELECT MENU_NUM, MENU_NM, MENU_LINK FROM menu_list WHERE DEL_FLAG = 'N'
  </select>
  

</mapper>